<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::headLibs">
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
          crossorigin="anonymous"></script>

</head>
<body class="row >
<div class="col-md-9>
<h1 style="margin: 0 auto">List customer</h1>
<table class="table table-striped table-hover" style="background: skyblue ;margin: 0 auto">
  <tr>
    <th>ma_khach_hang</th>
    <th>ho_ten</th>
    <th>ten_loai_khach_hang</th>
    <th>ngay_sinh</th>
    <th>gioi_tinh</th>
    <th>so_cmnd</th>
    <th>so_dien_thoai</th>
    <th>email</th>
    <th>dia_chi</th>

  </tr>
  <tr>
    <th>1</th>
    <th>Nguyễn Văn A</th>
    <th>Member</th>
    <th>2/2/2002</th>
    <th>Nam</th>
    <th>1233456667</th>
    <th>02845278</th>
    <th>nguyen@gamil.com</th>
    <th>ĐÀ Nẵng</th>
  </tr>
  <tr>
    <th>1</th>
    <th>Nguyễn Văn A</th>
    <th>Member</th>
    <th>2/2/2002</th>
    <th>Nam</th>
    <th>1233456667</th>
    <th>02845278</th>
    <th>nguyen@gamil.com</th>
    <th>ĐÀ Nẵng</th>
  </tr>
  <tr>
    <th>1</th>
    <th>Nguyễn Văn A</th>
    <th>Member</th>
    <th>2/2/2002</th>
    <th>Nam</th>
    <th>1233456667</th>
    <th>02845278</th>
    <th>nguyen@gamil.com</th>
    <th>ĐÀ Nẵng</th>
  </tr>
  <tr>
    <th>1</th>
    <th>Nguyễn Văn A</th>
    <th>Member</th>
    <th>2/2/2002</th>
    <th>Nam</th>
    <th>1233456667</th>
    <th>02845278</th>
    <th>nguyen@gamil.com</th>
    <th>ĐÀ Nẵng</th>
  </tr>

</table>
</div>
</div>
</div>
</body>
</html>
