<div class="grid wide services__container mt-4" style="background-color: white">
  <div class="row justify-content-center">
    <h2>Create customer</h2>
  </div>
  <div>
    <form style=" width: 1000px; margin-left: 100px" [formGroup]="customerCreateForm" (ngSubmit)="createCustomer()">
      <div class="row d-flex">
        <div class="col-6">
          <div class="form-group">
            <label>Mã khách hàng</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7"  formControlName="code">
            <div *ngIf="customerCreateForm.get('code')?.invalid && (customerCreateForm.get('code')?.touched||customerCreateForm.get('code')?.dirty)">
              <div [hidden]="!customerCreateForm.get('code').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Vui lòng nhập mã khách.</small>
              </div>
            </div>
            <div *ngIf="customerCreateForm.get('code')?.invalid && (customerCreateForm.get('code')?.touched||customerCreateForm.get('code')?.dirty)">
              <div [hidden]="!customerCreateForm.get('code').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập mã khách theo định dạng KHXXXX.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Loại khách hàng</label>
            <select class="custom-select" style="background-color: #FEFBE7" formControlName="type">
              <option value="" disabled selected>Chọn loại khách hàng</option>
              <option [ngValue]="type" *ngFor="let type of customerTypes">{{type.name}}</option>
            </select>
            <div *ngIf="customerCreateForm.get('type')?.invalid && (customerCreateForm.get('type')?.touched || customerCreateForm.get('type')?.dirty)">
              <small class="form-text" style="color: red; font-style: italic">Vui lòng chọn loại khách hàng.</small>
            </div>
          </div>
          <div class="form-group">
            <label>Tên khách hàng</label>
            <input type="text" class="form-control" style="background-color: #FEFBE7"  formControlName="name">
            <div *ngIf="customerCreateForm.get('name')?.invalid && (customerCreateForm.get('name')?.touched||customerCreateForm.get('name')?.dirty)">
              <div [hidden]="!customerCreateForm.get('name').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Vui lòng nhập tên.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Ngày sinh</label>
            <input type="date" class="form-control" style="background-color: #FEFBE7" formControlName="birthday">
            <div *ngIf="customerCreateForm.get('birthday')?.invalid && (customerCreateForm.get('birthday')?.touched||customerCreateForm.get('birthday')?.dirty)">
              <div [hidden]="!customerCreateForm.get('birthday').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Vui lòng nhập ngày sinh.</small>
              </div>
            </div>
          </div>
          <div class="form-group d-flex">
            <label>Giới tính: </label>
            <div class="form-check" *ngFor="let gender of genders">
              <label>
                <input type="radio" formControlName="gender" [value]="gender">{{gender}} </label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>CMND</label>
            <input type="text" class="form-control"  style="background-color: #FEFBE7" formControlName="idCard">
            <div *ngIf="customerCreateForm.get('idCard')?.invalid && (customerCreateForm.get('idCard')?.touched||customerCreateForm.get('idCard')?.dirty)">
              <div [hidden]="!customerCreateForm.get('idCard').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Vui lòng nhập CMND.</small>
              </div>
            </div>
            <div *ngIf="customerCreateForm.get('idCard')?.invalid && (customerCreateForm.get('idCard')?.touched||customerCreateForm.get('idCard')?.dirty)">
              <div [hidden]="!customerCreateForm.get('idCard').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập CMND chưa đúng định dạng.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Số điện thoại</label>
            <input type="text" class="form-control"  style="background-color: #FEFBE7" formControlName="phone">
            <div *ngIf="customerCreateForm.get('phone')?.invalid && (customerCreateForm.get('phone')?.touched||customerCreateForm.get('phone')?.dirty)">
              <div [hidden]="!customerCreateForm.get('phone').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                 Vui lòng  nhập số điện thoại.</small>
              </div>
            </div>
            <div *ngIf="customerCreateForm.get('phone')?.invalid && (customerCreateForm.get('phone')?.touched||customerCreateForm.get('phone')?.dirty)">
              <div [hidden]="!customerCreateForm.get('phone').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Vui lòng nhập số điện thoại đúng định dạng.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control"   style="background-color: #FEFBE7" formControlName="email">
            <div *ngIf="customerCreateForm.get('email')?.invalid && (customerCreateForm.get('email')?.touched||customerCreateForm.get('email')?.dirty)">
              <div [hidden]="!customerCreateForm.get('email').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Vui lòng nhập email.</small>
              </div>
            </div>
            <div *ngIf="customerCreateForm.get('email')?.invalid && (customerCreateForm.get('email')?.touched||customerCreateForm.get('email')?.dirty)">
              <div [hidden]="!customerCreateForm.get('email').errors.pattern">
                <small class="form-text" style="color: red; font-style: italic" >
                  Nhập email chưa đúng định dạng.</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Địa chỉ</label>
            <input type="text" class="form-control"  style="background-color: #FEFBE7" formControlName="address">
            <div *ngIf="customerCreateForm.get('address')?.invalid && (customerCreateForm.get('address')?.touched||customerCreateForm.get('address')?.dirty)">
              <div [hidden]="!customerCreateForm.get('address').errors.required">
                <small class="form-text" style="color: red; font-style: italic" >
                  Vui lòng nhập địa chỉ.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wide grid button__container">
        <button type="submit" class="btn btn-outline-dark mb-4" style="background-color: #DAE5D0" [disabled]="!customerCreateForm.valid">Save
        </button>
        <button type="submit" class="btn btn-outline-dark ml-4 mb-4" style="background-color: #DAE5D0" (click)="formReset()">Cancel
        </button>
      </div>
    </form>
  </div>
</div>

