<form class="d-flex ml-8 container-fluid">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<div class="grid wide services__container" style="background-color: #FEFBE7">
  <div class="row justify-content-center">
    <h2>Customer List</h2>
  </div>
  <div>
    <a class="ml-5  btn-group" style="background-color: #DAE5D0" [routerLink]="['/customers/create']">Create new customer</a>
  </div>
  <div class="mr-3 ml-3 mt-3">
    <table class="table table-hover table-responsive">
      <thead style="background-color: #FEFBE7">
      <tr>
        <th>ID</th>
        <th>Mã khách hàng</th>
        <th>Loại khách hàng</th>
        <th >Tên khách hàng</th>
        <th>Địa chỉ</th>
        <th>#</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers | paginate: {itemsPerPage: 2, currentPage: page}">
        <th scope="row">{{customer.id}}</th>
        <td>{{customer.code}}</td>
        <td>{{customer.type.name}}</td>
        <td>{{customer.name | titlecase}}</td>
        <td>{{customer.address | titlecase}}</td>
        <td>
          <a type="button" class="mr-3 btn my-2 my-sm-0 btn-outline-dark"
                  style="background-color: #DAE5D0; color: #15133C" [routerLink]="['/customers/edit',customer.id]"> Edit
          </a>
          <!-- Button trigger modal -->
          <button type="button" class="btn my-2 my-sm-0 btn-outline-dark"
                  style=" background-color: #e66557; color: #15133C"
                  data-toggle="modal" data-target="#exampleModal" (click)="getCustomerDelete(customer)">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="wide grid pagination__container">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khách hàng: <span style="color: #4f3fff">{{customerDelete.name}}</span> này không ?
      </div>
      <div class="ml-3">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" style="background-color: #e66557; color: #15133C" data-dismiss="modal" (click)="deleteCustomer(customerDelete.id)">Delete</button>
        <button type="button" class="btn btn-outline-dark" style="background-color: #c5dfe8; color: #15133C" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


