<div>
  <nav class="navbar navbar-expand-lg  navbar-dark badge-light">
    <a class="navbar-brand" style="color: orange; "> <img src="anh/tải xuống.jpg" /></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" style="color: #15133C" routerLink="/customers/list">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #15133C" routerLink="/facilities/list">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #15133C" href="#">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #15133C" routerLink="/contracts/list">Contracts</a>
        </li>
      </ul>

    </div>
  </nav>

</div>


